# Dolphin
.directory

# Jetbrains
.idea/*

# Apple
.DS_Store

# Bootstrap
app/bootstrap*

# Binaries symlinks
bin/behat
bin/phpunit

# Symfony directories
cache/*
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

