{% extends 'layout.html.twig' %}

{% block content %}
<form id="question_form" action="answer.json" method="GET">

  <fieldset>
    <legend>Your Question</legend>
    <input id="question_input" name="question" type="text" size="42" value="" />
  </fieldset>

  <fieldset>
    <legend>Culture Entropy</legend>
    <p>Please type in <em id="answer_expected">"{{ culture }}"</em></p>
    <input id="culture_input" name="culture" type="text" size="42" value="" />
  </fieldset>

  <input id="question_submit" type="submit" value="ASK" />

</form>

  <script type="text/javascript" src="js/vendor/mootools-core-1.4.5.js"></script>

  <script type="text/javascript">

    window.addEvent('domready', function(){

    });

    document.id('culture_input').addEvent('keydown', function(e){
      //console.log('keydown '+ e.key);
    });

    document.id('culture_input').addEvent('keyup', function(e){
      //console.log('keyup '+ e.key);
    });

    document.id('culture_input').addEvent('keypress', function(e){
      //console.log(e); // Syn Event, not a Mootools Event
      //console.log('keypress '+ e.key);
      //e.stop();
      //addCharacterToField(String.fromCharCode(e.code), this);
    });

    function addCharacterToField (character, field) {
      field.setAttribute('value', field.getAttribute('value') + character);
    }

  </script>

{% endblock %}