{% extends 'layout.html.twig' %}

{% block content %}
<form id="question_form" action="answer.json" method="GET">

  <fieldset>
    <legend>Your Question</legend>
    <input id="question_input" name="question" type="text" size="42" value="" />
  </fieldset>

  <fieldset>
    <legend>Culture Entropy</legend>
    <p>Please type in <em id="answer_expected">"{{ culture }}"</em></p>
    <input id="answer_input" name="culture" type="text" size="42" value="" />
  </fieldset>

  <input id="question_submit" type="submit" value="ASK" />

</form>
{% endblock %}