{% extends 'layout.html.twig' %}

{% block content %}

<style type="text/css">
  #question_reload {
    display: none;
  }
</style>

<form id="question_form" action="answer.json" method="GET" autocomplete="off">

  <fieldset>
    <legend>Your Question</legend>
    <input id="question_input" name="question" type="text" size="42" value="" />
  </fieldset>

  <fieldset>
    <legend>Culture Entropy</legend>
    <p>Please type in "<em id="expected_answer">{{ culture }}</em>"</p>
    <input id="culture_input" name="culture" type="text" size="42" value="" />
  </fieldset>

  <input id="question_submit" class="btn btn-primary" type="submit" value="Ask" disabled="true" />

</form>

  <br>
  <br>

<div id="question_answer"></div>

  <br>
  <br>

<div id="question_reload">
  <input type="button" class="btn btn-success" value="Ask Again" onclick="location.reload();" />
</div>


  <script type="text/javascript" src="js/vendor/mootools-core-1.4.5.js"></script>
  <script type="text/javascript" src="/js/vendor/mootools-more-1.4.0.1.js"></script>
  <script type="text/javascript" src="/js/vendor/Base64.js"></script>
  <script type="text/javascript" src="/js/cye.js"></script>

  <script type="text/javascript">

    window.addEvent('domready', function(){
      document.id('question_input').focus();

      // Validate the Submit button
      document.id('culture_input').smartField = new Cye.SmartField('culture_input',{
        getExpectedValue: function(){return document.id('expected_answer').get('text');},
        onMatch: function(){document.id('question_submit').set('disabled', false);}
      });

      document.id('question_form').addEvent('submit', function(e){
        e.stop();
        document.id('question_submit').set('disabled', true);

        var r = new Request.JSON({
          url: this.get('action'),
          method: this.get('method'),
          onSuccess: function(json, text) {
            document.id('question_answer').set('html',json.answer);
            document.id('question_form').destroy();
            document.id('question_reload').show();
          }
        });
        var key = document.id('culture_input').smartField.getValue();
        if (key) {
          r.send({data: this.toQueryString()+'&'+Object.toQueryString({key:key.toBase64()})});
        } else {
          r.send({data: this.toQueryString()});
        }
      });
    });

    document.body.disableSelection();

  </script>

{% endblock %}